<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login form</title>
    <th:block th:replace="fragments :: link-style" th:remove="tag"/>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"/>
<div class="container">
    <h1>Login form</h1>
    <form th:action="@{/login}" method="post">
        <div class="row col-12 form-container">
            <div class="row col-md-12 form-input-row">
                <div class="col-md-6">
                    <label for="username">Username:</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" id="username" th:name="username">
                </div>
            </div>
            <div class="row col-md-12 form-input-row">
                <div class="col-md-6">
                    <label for="password">Password:</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="password" id="password" th:name="password">
                </div>
            </div>
            <div class="row col-md-12 form-button-row">
                <div class="col-md-6">
                    <button type="reset" class="btn btn-warning offset-3 col-md-6">Reset</button>
                </div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary offset-3 col-md-6">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>
<th:block th:replace="fragments :: footer" th:remove="tag"/>
<th:block th:replace="fragments :: scripts" th:remove="tag"/>
</body>
</html>